<server description="Sample Servlet server">
    <featureManager>
        <feature>servlet-4.0</feature>
    </featureManager>

	 <!-- To allow access to this server from a remote client host="*" has been added to the following element -->
    <httpEndpoint id="defaultHttpEndpoint"
                  host="*"
                  httpPort="9090"
                  httpsPort="9443" />
                      
    <webApplication id="ServletSample" location="demo-servlet.war" contextRoot="/" />
</server>
